<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="templates/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script}, ~{this :: .custom-body})">
<title>Firma Autorizada</title>

<!--/* Links de su pagina */-->
<!-- <link class="custom-link" rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/> -->
<link class="custom-link" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<!-- <link class="custom-link" rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"> -->
<link class="custom-link" rel="stylesheet" media="screen" th:href="@{/resources/css/gi/main-gi.css}" />

<!--/* Scripts de su pagina */-->
<!-- <script class="custom-script" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script> -->
<!-- <script class="custom-script" -->
<!-- 	src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script> -->
<script class="custom-script" th:src="@{/resources/js/dominio/firmaAutorizada.js}"></script>


</head>

<body>
	<header th:insert="templates/header :: header"> </header>
	<br>
	<div class="container custom-body">
		
		<div id="alertSuccess"></div>
		<div id="alertWarning"></div>
		<div id="alertDangerError"></div>

		<div class="formTop">
			<span class="titleStaticForm"
				th:text="#{label.consulta.firmaautorizada}"></span>
			<hr>	
			<form id="formBuscar" name="formBuscar">
				<!-- Codigo adicional -->
				<!--
				<input type="hidden" id="idSubproceso" name="idSubproceso">
				<div class="row">
					<div class="col-md-4 form-group">
						<label for="gi-sel-modulo" class="col-form-label"
							th:text="#{cg.proceso.modulo}"></label> 
						<select name="modulo"
							onchange="activarProceso();" id="gi-sel-modulo"
							class="form-control" required>
							<option value="0" th:text="#{cg.seleccionar}"
								selected></option>
							<option th:each="modulo : ${modulo}"
								th:value="${modulo.idCtrlProceso}" th:utext="${modulo.descripcion}" />
						</select>
					</div>
					<div class="col-md-4 form-group">
						<label for="gi-sel-proceso" class="col-form-label"
							th:text="#{cg.subproceso.proceso}"></label> <select
							name="Proceso" disabled="disabled"
							onchange="activarSubProceso();" id="gi-sel-proceso"
							class="form-control" required data-bv-notempty-message="Campo requerido">
							<option value="" th:text="#{cg.seleccionar}"
								selected></option>
						</select>
					</div>
					<div class="col-md-4 form-group">
						<label for="gi-sel-subproceso" class="col-form-label"
							th:text="#{label.criterio.busqueda.subproceso}"></label> 
						<select onchange="setIdSubProceso();" 
							name="subproceso" disabled="disabled" id="gi-sel-subproceso"
							class="form-control" required data-bv-notempty-message="Campo requerido">
							<option value="" th:text="#{cg.seleccionar}"
								selected></option>
						</select>
					</div>
				</div>
				-->
				<!-- Codigo Adicional -->	

				<div class="row">
					<div class="form-group col-md-4">
						<label for="nombre" class="col-form-label"
							th:text="#{label.criterio.busqueda.nombre}"> </label> 
							<input type="text" class="form-control" id="nombreFlt" maxlength="100"
							name="nombre" onkeypress="return onlyText(event); ">
					</div>
					<div class="form-group col-md-4">
						<label for="appaterno" class="col-form-label"
							th:text="#{label.criterio.busqueda.appaterno}"> </label> 
							<input type="text" class="form-control" id="apPaternoFlt" maxlength="100"
							name="appaterno" onkeypress="return onlyText(event); ">
					</div>
					<div class="form-group col-md-4">
						<label for="apmaterno" class="col-form-label"
							th:text="#{label.criterio.busqueda.apmaterno}"> </label> 
							<input type="text" class="form-control" id="apMaternoFlt" maxlength="100"
							name="apmaterno" onkeypress="return onlyText(event); ">
					</div>
					<div class="form-group col-md-4">
						<label for="noescr" class="col-form-label"
							th:text="#{label.criterio.busqueda.noescr}"> </label> 
							<input type="text" class="form-control" id="noEscrFlt" maxlength="100"
							name="noescr" onkeypress="return onlyText(event); ">
					</div>
					<div class="form-group col-md-4">
						<label for="nonot" class="col-form-label"
							th:text="#{label.criterio.busqueda.nonot}"> </label> 
							<input type="text" class="form-control" id="noNotFlt" maxlength="100"
							name="nonot" onkeypress="return onlyText(event); ">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<button type="submit" class="btn-style-citi float-right mx-0"
							id="dominio-btn-buscar" th:text="#{label.button.buscar}"></button>
						<button type="button" class="btn-style-citi float-right mx-2"
							id="dominio-but-limpiar" th:text="#{label.button.limpiar}"></button>
					</div>
				</div>
			</form>
		</div>
		<span class="tituloTabla" th:text="#{tabla.titulo.busqueda}"></span>
		<div class="table-responsive">
			<table class="table table-bordered" id="datostabla">
				<thead class="bg-info">
				</thead>
			</table>
		</div>

		<div class="row float-right mx-0 btnList">
			<button type="button" class="btn-style-citi" name="eliminarButton" id="eliminarButton"
			        th:text="#{label.button.eliminar}"></button>
			<button type="button" class="btn-style-citi" name="actualizarButton" id="actualizarButton"
			        th:text="#{label.button.actualizar}"></button>
			<button type="button" class="btn-style-citi float-right mx-2"
							id="agregar" th:text="#{label.button.agregar}"></button>
		</div>
			
		<!-- 		Modal Crear salida -->
		<div th:replace="dominio/modalCrearFirmaAutorizada :: modalGuardar"></div>
		
		<div th:replace="dominio/modalUpdateFirmaAutorizada :: modalFragUpdate"></div>
			
			
		<!-- Modal eliminar -->
		<div class="modal fade cg-mod-eliminar" id="modalEliminar" tabindex="-1"
			role="dialog" data-backdrop="static" data-keyboard="false"
			aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:utext="#{label.title.modal.eliminar.firmaautorizada}"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<p id="dominio-mensaje-eliminar"></p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-style-citi" data-dismiss="modal" th:text="#{label.button.cancelar}"></button>
						<button type="button" onclick="eliminarFirmaAutorizada()" class="btn-style-citi" th:text="#{label.button.aceptar}"></button>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<footer th:replace="templates/footer :: footer"> </footer>
</body>
</html>	
