<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal fade cg-mod-editar" id="movModal" tabindex="-1" th:fragment="modalFragUpdate"
	role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="cg-mod-editar" aria-hidden="true"
	style="display: none;">
	<div id="alertDangerUp"></div>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form id="formUpd" name="formUpd">
				<div class="modal-header">
					<h4 class="modal-title">
						<label id="modalTitle" th:text="#{lable.title.modal.actualizar.distribucioninstrucciones}"></label>
					</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="container body">
					<input type="hidden" id="idDistribucionInstruccionesUpd" name="idDistribucionInstruccionesUpd">	
					<!-- Codigo Adicional -->
					<!--
					<input type="hidden" id="idSubprocesoUpd" name="idSubprocesoUpd">
					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label" for="subprocesoUpd"
								th:text="#{label.criterio.busqueda.subproceso}"></label> 
								<input type="text" id="subprocesoUpd" name="subprocesoUpd" class="form-control" readonly="readonly">
						</div>
						<div class="col-md-4">
							<label class="col-form-label" for="procesoUpd"
								th:text="#{label.criterio.busqueda.proceso}"></label> 
								<input type="text" id="procesoUpd" name="procesoUpd"  class="form-control" readonly="readonly">
						</div>
						<div class="col-md-4">
							<label class="col-form-label" for="moduloUpd"
								th:text="#{label.criterio.busqueda.modulo}"></label> 
								<input type="text" id="moduloUpd"  name="moduloUpd"  class="form-control" readonly="readonly">
						</div>
					</div>
					-->
					<!-- Codigo Adicional -->
						
					<div class="row">
					<div class="form-group col-md-4">
						<label class="required col-form-label" for="cveOpcDistrInstruccionesUpd"
							th:text="#{label.title.modal.input.distribucioninstrucciones.opcdistrinstrucciones}"></label> 
							<select class="form-control" id="opcDistrInstruccionesUpd" name="opcDistrInstruccionesUpd"
							required>
							<option value="" th:text="#{cg.seleccionar}"></option>
							<option th:each="opcDistrInstrucciones : ${listaOpcDistrInstrucciones}"
								th:value="${opcDistrInstrucciones.cveOpcDistrInstrucciones}"
								th:text="${opcDistrInstrucciones.descripcion}"></option>
							</select>
					</div>
					<div class="form-group col-md-4">
						<input type="checkbox" name="capturados" id="capturadosUpd">
						<label for="capturados" class="col-form-label" th:text="#{label.tabla.columna.distribucioninstrucciones.capturados}"> </label> 
					</div>
					<div class="form-group col-md-4">
						<label class="required col-form-label" for="contratoUpd"
								th:text="#{label.title.modal.input.distribucioninstrucciones.contrato}"></label> 
							<input type="text" id="contratoUpd" name="contratoUpd" class="form-control"  maxlength="100" required data-bv-regexp="true"  pattern="^[^\'\&quot\*\(\)\&\|\/\\]*$" 
								data-bv-regexp-message="No se permiten los caracteres:  ' * \ / ( ) &quot & "
								data-bv-notempty-message="Campo requerido" onkeypress="return onlyText(event); ">
					</div>	
					<div class="form-group col-md-4">
						<label class="required col-form-label" for="folioMovUpd"
								th:text="#{label.title.modal.input.distribucioninstrucciones.foliomov}"></label> 
							<input type="text" id="folioMovUpd" name="folioMovUpd" class="form-control"  maxlength="100" required data-bv-regexp="true"  pattern="^[^\'\&quot\*\(\)\&\|\/\\]*$" 
								data-bv-regexp-message="No se permiten los caracteres:  ' * \ / ( ) &quot & "
								data-bv-notempty-message="Campo requerido" onkeypress="return onlyText(event); ">
					</div>	
					<div class="form-group col-md-4">
						<label class="required col-form-label" for="digitoUpd"
								th:text="#{label.title.modal.input.distribucioninstrucciones.digito}"></label> 
							<input type="text" id="digitoUpd" name="digitoUpd" class="form-control"  maxlength="100" required data-bv-regexp="true"  pattern="^[^\'\&quot\*\(\)\&\|\/\\]*$" 
								data-bv-regexp-message="No se permiten los caracteres:  ' * \ / ( ) &quot & "
								data-bv-notempty-message="Campo requerido" onkeypress="return onlyText(event); ">
					</div>	
					<div class="form-group col-md-4">
						<label class="required col-form-label" for="importeNetoUpd"
								th:text="#{label.title.modal.input.distribucioninstrucciones.importeneto}"></label> 
							<input type="text" id="importeNetoUpd" name="importeNetoUpd" class="form-control"  maxlength="100" required data-bv-regexp="true"  pattern="^[^\'\&quot\*\(\)\&\|\/\\]*$" 
								data-bv-regexp-message="No se permiten los caracteres:  ' * \ / ( ) &quot & "
								data-bv-notempty-message="Campo requerido" onkeypress="return onlyText(event); ">
					</div>	
					<div class="form-group col-md-4">
						<input type="checkbox" name="depositos" id="depositosUpd">
						<label for="depositos" class="col-form-label" th:text="#{label.tabla.columna.distribucioninstrucciones.depositos}"> </label> 
					</div>
					<div class="form-group col-md-4">
						<input type="checkbox" name="retiros" id="retirosUpd">
						<label for="retiros" class="col-form-label" th:text="#{label.tabla.columna.distribucioninstrucciones.retiros}"> </label> 
					</div>
					<div class="form-group col-md-4">
						<label class="required col-form-label" for="cveDummyUpd"
							th:text="#{label.title.modal.input.distribucioninstrucciones.sucursal}"></label> 
							<select class="form-control" id="dummyUpd" name="dummyUpd"
							required>
							<option value="" th:text="#{cg.seleccionar}"></option>
							<option th:each="sucursal : ${listaDummy}"
								th:value="${sucursal.cveDummy}"
								th:text="${sucursal.descripcion}"></option>
							</select>
					</div>
					</div>
					
					<div class="form-group modal-footer">
						<div id="updInformes" class="form-group">
							<button id="salir" type="button"  class="btn-style-citi" data-dismiss="modal" th:text="#{label.button.cancelar}"></button>
							<button id="btnGuardar" type="submit" class="btn-style-citi" th:text="#{label.button.guardar}"></button>
							<button type="button" class="btn-style-citi" data-dismiss="modal" th:text="#{label.button.cerrar}"></button>
						</div>
					</div>
					
				</div>	
			</form>
		</div>
	</div>
</div>
</body>
</html>	
